html, body {
  margin: 0;
  padding: 0;
  height: 100% 100%;
  background-image: url('http://triangledesignart.com/wpimages/wp401cdf87_05_06.jpg');
  background: rgba(255,255,255,0.5);
  box-sizing: border-box;
  background-size: cover;

}

#line-1, #line-2, #line-3 {
	width: 90%;
	background: white;
	height: 12px;
	margin: 7px auto;
	border-radius: 2px;
	transition: all linear .3s;
}

.menu-button{
  width: 45px;
  border-radius: 5px;
  margin: auto;
  transition: all linear .3s;
  padding: 4px;
  z-index: 1;
  height: 75%;
  display: inline-block;
  margin-top: 16px;
}


.burger-block {
	background: grey;
	display: block;
	text-align: center;
	cursor: pointer;
}

.burger-block:hover {
	background-color: black;
}

.menu-logo {
	margin: 0 auto;
	display: inline-block;
	transform: translateY(-27%);
	font-family: 'Baloo', sans-serif;
	color: white;
	font-size: 27pt;
}

.menu {
	display: none;
}

.menu li {
	display: block;
	text-align: center;
	height: 75px;
	background-color: black;
	color: white;
	margin: 0 auto;
	border: 2px solid grey;
}

.menu ul {
	margin: 0 auto;
	padding: 0;
}

.menu {
	padding: 0;
	margin: 0;
}

.menu a {
	color:white;
	text-decoration: none;
	font-family: 'Baloo', sans-serif;
	font-size: 25pt;
}

#line-1.active{
-webkit-transform: translate(0px,12px) rotate(45deg);
transform: translate(0px,12px) rotate(45deg);
}

#line-2.active{
opacity: 0;
}

#line-3.active{
-webkit-transform: translate(0px, -12px) rotate(-45deg);
transform: translate(0px, -12px) rotate(-45deg);
}

.nav-bar {
	background-color: #F9CF00;
	width: 100%;
	height: 70px;
	top: 0;
	text-align: center;
}

.name {
	font-family: 'Baloo', sans-serif;
	font-weight: bold;
	font-size: 30pt;
	margin: 0 auto;
	color: white;
}

.nav-bar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: right;
	position: relative;
	margin-right: 10px;
	transform: translateY(25%);
}

.footer-msg {
	text-align: center;
	font-family: 'Baloo', sans-serif;
	font-size: 27pt;
	position: relative;
	transform: translateY(25%);
}

.footer {
	height: 80px;
	background-color: blue;
	left:0px;
   	bottom:0px;
    height:80px;
    width:100%;
    background:#999;
    margin-top: 20px;
}


.nav-bar li {
	float: right;
	margin-left: 10px;
}

.nav-bar a:hover {
	background: blue;
	height: 100%;
}

.nav-bar a {
	text-decoration: none;
	transition: 0.2s;
}

.nav-bar a:hover {
	text-shadow: 2px 2px 4px #333;
}

.about-me-intro, .greeting, .portfolios, .contact-intro, .skills-intro h1,h2 {
	text-align: center;
	font-family: 'Baloo', sans-serif;
	color: #737373;
}

.project-link, .project-repo, .project-tech-used, .more-info {
	text-align: center;
	font-family: 'Neuton', serif;
	font-weight: Light;
}

.more-info {
	text-decoration: underline;
}

.more-info-container {
	margin-left: auto;
	margin-right: auto;
}

.greeting h1,h2 {
	margin-top: 10px;
	color: #808080;
}

.about-me-intro, .contact-intro h1 {
	margin-top: 10px;
}

.contact-info {
	text-align: center;
}

.portfolio-project img {
	height: 400px;
	width: 700px;
}

.project-name, .project-dscrpt {
	text-align: center;
	font-family: 'Bellefair', serif;
	padding: 5px;
}

.project-name {
	font-size:37pt;
}

.project-dscrpt {
	color: #595959;
}

.portfolio-project {
	width: 700px;
	margin: 0 auto;
	box-shadow: 5 1px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    display: block;
}

.more-info-container {
	margin: 30px;
}


.portfolio-project:hover {
    box-shadow: 5 1px 8px 0 rgba(0,0,0,0.2);
}


.portfolio-project-info {
	background-color:#D7D4D4;
	padding: 2px 16px;
}

.inv-portfolio-project-info {
	background-color:orange;
	padding: 2px 16px;
}

.portfolio-container {
	margin-top: 30px;
}

a {
	text-decoration: none;
}

.more-info-container a {
	color: grey;
}

.more-info-container a:hover {
	color:black;
}

.gh img {
	width: 150px;
 	height: 77px;
 	border-top-left-radius: 25px;
    -webkit-border-top-left-radius: 25px;
    -moz-border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    -webkit-border-bottom-right-radius: 25px;
    -moz-border-bottom-right-radius: 25px;
    transform: translateY(-25%);
}

.gh, .email, .phone h3 {
	font-family: 'Zilla Slab', serif;
	width: 250px;

}

.contact-info span {
	font-family: Arial;
	font-weight: bold;
	color: black;
	width: 250px;
}

hr {
	width:50%;
    display: block;
    margin-bottom: 0.25em;
    border-style: inset;
    border-width: 1px;
    color: gray;
    margin: auto;
}

.about-me-info, .skills-info {
	font-family: 'Neuton', serif;
	font-weight: Light;
	font-size: 17px;
	text-align: center;
	margin-left: 5px;
	margin-right: 5px;
}

.skills-info {
	text-align: center;
}